body {
    background-color: #FAE8E0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.presentation-image {
  width: 500px;
  height: auto;
}

p, li {
    font-size: 20px;
}

div {
    background-color: #B6E2D3;
}